<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> <!--320-->
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">

        function showHelp() {
            $content = $("#helpSection");
            $content.slideToggle(500, function () { });
        }
    </script>

</head>
<body>
    <nav class="navbar navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-page="/Index" class="navbar-brand" style="margin-left:0pt">
                    <img class="lemonCubeLogo" src="~/images/lemoncubeicon.svg" alt="LemonCube Logo">
                </a>
                <div style="margin: auto; text-align: right; vertical-align: middle;">
                    <a href="javascript:;" onclick="showHelp(); return false;">Help</a>
                </div>
            </div>
        </div>

        <div id="helpSection" style="display: none; text-align: center; margin: auto; width: 90%; max-width: 800px; margin-top: 30pt; background-color: white; border: solid; border-color: black; max-height: 400px; overflow-y: scroll;">
            <p>This help section will briefly explain how LemonCube works as a website which may also help you in some of the hunts.</p>
            <h3>URLs</h3>
            <p>URLs are key to many of the hunts in LemonCube and therefore it is important to understand how they work. The main URL of LemonCube is:</p>
            <p>lemoncube.azurewebsites.net</p>
            <p>By going to this URL you will be taken to the main homepage (or 'lobby') of the site. To enter other pages on the site you have to add:</p>
            <p>/<i>PageName</i></p>
            <p>where <i>PageName</i> is the name of the page you are attempting to go to. If you want to go to a page within a page then you have to simply add the name of the sub-page such as:</p>
            <p>/<i>PageName</i>/<i>SubPageName</i></p>
            <p>where <i>SubPageName</i> is the name of the inner page you want. This process can be repeated for pages within pages within pages within pages etc.</p>
            <p>Each hunt has a different unique codename which is used as the first page in the URL. This can be seen by going to some of the hunts and looking at the URL. Use the explanation from above to enter pages within hunts.</p>
            <p>Finally, sometimes the final page name in the URL is followed by some more text, split by a <b>?</b> such as:</p>
            <p>/<i>PageName</i>/<i>SubPageName</i><b>?</b>sometext=someothertext</p>
            <p>This extra text can be diregarded as it is purely for the functionality of the site and pages.</p>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">Created by Lee Monquebe</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
