/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.TreasureHuntTitle {
    font-size: 20px;
    padding: 30pt;
    padding-bottom: 0pt;
}

.clueTitle {
    font-size: 50px;
    padding: 0pt;
    padding-top: 40pt;
    padding-bottom: 40pt;
}

.question {
    font-size: 20px;
    padding: 30pt;
}

.answer {
    font-size: 40px;
    padding: 30pt;
}

/* Change font size when screen size changes*/
@media screen and (max-width: 1000px) {
    .TreasureHuntTitle {
        font-size: 15px;
        padding: 20pt;
        padding-bottom: 0pt;
    }

    .clueTitle {
        font-size: 35px;
        padding: 0pt;
        padding-top: 30pt;
        padding-bottom: 30pt;
    }

    .question {
        font-size: 15px;
        padding: 10pt;
    }

    .answer {
        font-size: 30px;
        padding: 10pt;
    }
}

/* Change font size when screen size changes*/
@media screen and (max-width: 720px) {
    .TreasureHuntTitle {
        font-size: 10px;
        padding: 10pt;
        padding-bottom: 0pt;
    }

    .clueTitle {
        font-size: 20px;
        padding: 0pt;
        padding-top: 15pt;
        padding-bottom: 15pt;
    }

    .question {
        font-size: 10px;
        padding: 10pt;
    }

    .answer {
        font-size: 20px;
        padding: 10pt;
    }
}

/* Change font size when screen size changes*/
@media screen and (max-width: 480px) {
    .clueTitle {
        font-size: 12px;
        padding: 0pt;
        padding-top: 5pt;
        padding-bottom: 10pt;
    }
}
