/* FONTS */
@font-face {
    font-family: Digital;
    src: url('../DS-DIGIT.TTF');
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 80pt;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.TreasureHuntTitle {
    font-size: 20px;
    padding: 30pt;
    padding-bottom: 0pt;
}

.clueTitle {
    font-size: 2em;
    padding: 0pt;
    padding-top: 40pt;
    padding-bottom: 40pt;
}

.question {
    font-size: 20px;
    padding: 30pt;
}

.questionInput {
    width: 1em;
    border: none;
    border-bottom: solid;
    border-color: #ff0000;
    color: #ff0000;
    background-color: transparent;
    text-align: center;
    padding: 0pt;
    margin: 2pt;
    text-transform: uppercase;
}

.answer {
    font-size: 40px;
    padding: 30pt;
}

.askInput {
    margin: auto;
    text-align: center;
    text-align: center;
    padding: 5pt;
}

html, body, body-content {
    height: 100%;
    font-family: 'Courier';
}

.lemonCubeLogo {
    height: 60pt;
    margin: auto;
}

.navbar-brand {
    width: 100%;
    height: 100%;
}
.navbar-header {
    width: 100%;
    height: 50pt;
}

#scoreBoard {
    background-color: #000000;
}

.scoreBoard {
    background: #000000;
    padding: 10px;
    font-family: courier;
    border: 5pt;
    border-color: #808080;
    border-style: ridge;
}

.scoreBoardHeader {
    border-style: solid;
    background: #000000;
    border-color: #ffffff;
    border-width: 2px;
}

.scoreBoardTitle {
    font-family: courier;
    padding: 10px;
    text-align: center;
}

.scoreBoardSection {
    font-size: 40pt;
    font-family: Digital;
    width: 100%;
    max-width: 100%;
}

.scoreBoardTable {
    width: 100%;
    line-height: 45pt;
}

.scoreBoardTableHeadings {
    color: #94ff66;
    text-shadow: 0px 0px 20px #4cff00;
}

.scoreBoardDigits {
    border: 1pt;
    margin: 5pt;
    padding-left: 5pt;
    padding-right: 5pt;
    background-color: #292929;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#row1 {
    color: #fff09d;
    text-shadow: 0px 0px 20px #ffe65c;
}

#row2 {
    color: #ffc06f;
    text-shadow: 0px 0px 20px #ffa736;
}

#row3 {
    color: #ff8f51;
    text-shadow: 0px 0px 20px #ff9f6b;
}

#row4 {
    color: #ff683d;
    text-shadow: 0px 0px 20px #ff9374;
}

.scoreBoardRow {
    color: #ff3232;
    text-shadow: 0px 0px 20px #ff6a6a;
}

.scoreBoardCell {
    max-width: 1px;
}

.huntLinkSection {
    background-color: #000000;
    margin: 20pt;
}

.huntLinkTable {
    width:100%;
    padding: 20pt;
    color: white;
}

.huntLinkCell {
    padding: 20pt;
    text-align: center;
    max-width: 1px;
    font-size: 20pt;
}

.huntLinkRank {
    padding: 20pt;
    text-align: left;
    font-size: 12pt;
    width: 260px;
    max-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.countDown {
    font-size: 20pt;
}

.huntButton {
    background-color: transparent;
    color: #337ab7;
    border: none;
}

.crossWordInput {
    border: solid;
    border-color: #000000;
    color: #000000;
    text-shadow: 0 0 0 gray;
    text-align: center;
    font-size: 15pt;
    height: 40px;
    width: 40px;
    padding: 0pt;
    margin: 0pt;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.blackBox {
    border: solid;
    border-color: #000000;
    color: #000000;
    background-color: #000000;
    height: 40px;
    width: 40px;
    padding: 0pt;
    margin: 0pt;
}

.crossWordCell {
    border: none;
}

.crossWordRow {
    border: none;
}

.crossWord {
    border: none !important;
    padding: 0pt !important;
    margin: auto;
    text-align: center;
}

.crossWord-Top {
    vertical-align: bottom !important;
    white-space: nowrap;
}

.crossWord-Bottom {
    vertical-align: top !important;
    white-space: nowrap;
}

.crossWord-Left {
    text-align: right !important;
}

.crossWord-Right {
    text-align: left !important;
}

.crossWordClue {
    margin: auto;
    vertical-align: middle !important;
    padding: 5pt !important;
    white-space:nowrap;
}

.importalSign {
    max-width: 400px;
    margin: auto;
    border: solid;
    border-color: black;
    border-width: 1pt;
    font-size: 2em;
}

.importalSign2 {
    border-color: red;
    border-width: 5pt;
    font-weight: bolder;
}

.portalImage {
    height: 150px;
    margin: auto;
}

.portalButton {
    font-size: 1.5em;
}

/* Change font size when screen size changes*/
@media screen and (max-width: 1000px) {
    .TreasureHuntTitle {
        font-size: 15px;
        padding: 20pt;
        padding-bottom: 0pt;
    }

    .clueTitle {
        font-size: 1.5em;
        padding: 0pt;
        padding-top: 30pt;
        padding-bottom: 30pt;
    }

    .question {
        font-size: 15px;
        padding: 10pt;
    }

    .answer {
        font-size: 30px;
        padding: 10pt;
    }

    .scoreBoardSection {
        font-size: 25pt;
    }

    .scoreBoardTable {
        line-height: 25pt;
    }

    .scoreBoardDigits {
        padding-left: 17pt;
        padding-right: 17pt;
    }

    .crossWordInput {
        height: 30px;
        width: 30px;
    }

    .blackBox {
        height: 30px;
        width: 30px;
    }

    .crossWordClue {
        font-size: 8pt;
        padding: 2pt !important;
    }
}

/* Change font size when screen size changes*/
@media screen and (max-width: 720px) {
    .TreasureHuntTitle {
        font-size: 10px;
        padding: 10pt;
        padding-bottom: 0pt;
    }

    .clueTitle {
        font-size: 1em;
        padding: 0pt;
        padding-top: 15pt;
        padding-bottom: 15pt;
    }

    .question {
        font-size: 10px;
        padding: 10pt;
    }

    .answer {
        font-size: 20px;
        padding: 10pt;
    }

    .scoreBoardSection {
        font-size: 20pt;
    }

    .scoreBoardTable {
        line-height: 15pt;
    }

    .scoreBoardDigits {
        padding-left: 0pt;
        padding-right: 0pt;
    }

    .huntLinkCell {
        font-size: 14pt;
        padding: 5pt;
    }

    .huntLinkRank {
        font-size: 8pt;
        padding: 5pt;
        width: 150px;
    }

    .portalImage {
        height: 100px;
        margin: auto;
    }

    .portalButton {
        font-size: 1em;
    }
}

/* Change font size when screen size changes*/
@media screen and (max-width: 480px) {
    .clueTitle {
        font-size: 0.5em;
        padding: 0pt;
        padding-top: 5pt;
        padding-bottom: 10pt;
    }

    .crossWord {
        font-size: 5pt;
        vertical-align: middle;
    }

    .crossWordInput {
        height: 15px;
        width: 15px;
        font-size: 5pt;
        vertical-align: middle;
    }

    .blackBox {
        height: 15px;
        width: 15px;
        font-size: 5pt;
        vertical-align: middle;
    }

    .crossWordClue {
        font-size: 4pt;
        padding: 1pt !important;
    }

    .scoreBoardSection {
        font-size: 10pt;
    }

    .scoreBoardTable {
        line-height: 10pt;
    }

    .scoreBoardDigits {
        padding-left: 0pt;
        padding-right: 0pt;
    }

    .huntLinkCell {
        font-size: 10pt;
        padding: 5pt;
    }

    .huntLinkRank {
        font-size: 5pt;
        padding: 5pt;
        width: 100px;
    }

    .countDown {
        font-size: 5pt;
    }

    .portalImage {
        height: 50px;
        margin: auto;
    }

    .portalButton {
        font-size: 0.5em;
    }

}
