@page
@model TreasureHuntWebApp.Pages.URLHunters.HeadOnCrashModel
@{
    ViewData["Title"] = "HeadOnCrash";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{ string pName = HttpContextAccessor.HttpContext.Session.GetString("ParticipantName");}

<hr />
<div>
    <table style="width: 90%; margin: auto; text-align: center;">
        <tr style="width: 100%">
            <td style="min-width: 50px; max-width: 100px;">
                <p style="text-align:left">@Html.DisplayFor(c => pName)</p>
            </td>
            <td style="width: auto">
                @Html.DisplayFor(p => Model.URLHuntCount) people have completed this page.
            </td>
            <td style="min-width: 50px; max-width: 100px;">
                <p style="text-align:right">@Html.DisplayFor(c => c.QuestionID)/12</p>
            </td>
        </tr>
    </table>
</div>
<hr />
<div style="margin:auto; text-align: center; width: 90%;">
    <h4>Congrats! You must have screwed your head on properly.</h4>
    <img style="width:95%; max-width:500px;" src="~/URLHunt/question6.jpg" />
</div>

