@page
@model TreasureHuntWebApp.Pages.URLHunters.IndexModel
@{
    ViewData["Title"] = "URL Hunters";
}

<div style="margin:auto; text-align: center; width: 80%;">
    <h2>Welcome Hunters!</h2>
    <img class="bit8Image" style="max-width: 100px; width: 40%" src="~/DungeonGraphics/LeeMonquebe-8bit.png" />
    <p>Me agian, Lee Monquebe. Creator and founder of LemonCube laboratories.</p>
    <p>In my latest hunt you must unravel the mysteries of the fabled <b>URL</b></p>
    <br />
    <p>But first tell me your name and remember to use the same name as in previous hunts:</p>
    <form method="post">
        <input type="text" name="PlayerName" maxlength="30" />
        <input type="submit" name="button" value="Continue" />
    </form>
</div>

