@page
@model TreasureHuntWebApp.Pages.URLHunters.StuffModel
@{
    ViewData["Title"] = "Stuff";
}

<div style="margin:auto; text-align: center; width: 80%;">
    <h2>Noice.</h2>
    <p>Stuff is what you needed to add. But what </p>
</div>

