@page "{ask?}"
@model TreasureHuntWebApp.Pages.AskResponses.IndexModel

@{
    ViewData["Title"] = "Ask";
}

<div class="askInput">

    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <p>
                    <input type="text" class="form-control askInput" name="ask" placeholder="type...">
                    <input type="submit" style="visibility: hidden; height: 0pt" />
                </p>
            </form>
            @{
                int rndInd = 0;
                if (Model.AskResponse.Count >= 1)
                {
                    Random rnd = new Random();
                    rndInd = rnd.Next(1, Model.AskResponse.Count);
                    @Html.DisplayFor(modelItem => Model.AskResponse[rndInd-1].Response)
                }
            }

            @{ System.Globalization.CultureInfo tempCulture = new System.Globalization.CultureInfo("en-GB");}
            @if (Model.Question != null && tempCulture.CompareInfo.IndexOf(Model.Question, "E N T", System.Globalization.CompareOptions.IgnoreCase) >= 0)
            {
                <form action="./AskResponses/YouADidIt">
                    <input type="submit" value="Proceed" />
                </form>
            }
        </div>
    </div>
    
    
</div>
