@page
@model TreasureHuntWebApp.Pages.ChoicesChoices.IndexModel

@{
    ViewData["Title"] = "Choices Choices";
}

<div style="margin:auto; text-align: center; width: 80%;">
    <h2>Well, hello there!</h2>
    <img class="bit8Image" style="max-width: 100px; width: 40%" src="~/DungeonGraphics/LeeMonquebe-8bit.png" />
    <p>My name is Lee Monquebe. Creator and founder of LemonCube laboratories.</p>
    <p>I hear you are an intrepid hunter after some hard earned points.</p>
    <p>Well I have a game for you!</p>
    <form method="post">
        <input type="submit" name="button" value="Go To Lab" />
    </form>
</div>

