@page
@model TreasureHuntWebApp.Pages.CrypticPicnic.IndexModel
@{
    ViewData["Title"] = "Cryptic Picnic";
}

<div style="margin:auto; text-align: center; width: 80%;">
    <img class="bit8Image" style="max-width: 300px; width: 80%" src="~/CrypticClock-old.png" />
    <br />
    <br />
    <p>Mh pbg rhn fnlm zh mh max itzx,</p>
    <p>Hy mabl lbmx tgw angm, ienl rhnk tzx.</p>
</div>

