@page
@model TreasureHuntWebApp.Pages.IndexModel

@{
    ViewData["Title"] = "LemonCube";
}

<div class="scoreBoard">
    @*<header class="scoreBoardHeader">
        <h1 class="scoreBoardTitle">Scoreboard</h1>
    </header>*@

    <section class="scoreBoardSection">

        <table class="scoreBoardTable">
            <tr class="scoreBoardTableHeadings">
                <th>Rank</th>
                <th>Player Name</th>
                <th>Score</th>
            </tr>
            @foreach (var item in Model.Scoreboard)
            {
                <tr style="color:#ffd800">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Model.PadNumber((int)item.Score,6)
                    </td>
                </tr>
            }
        </table>
    </section>

    <footer>
        <p>Footer</p>
    </footer>
</div>

