@page
@model TreasureHuntWebApp.Pages.IndexModel

@{
    ViewData["Title"] = "LemonCube";
}

<div class="scoreBoard">
    @*<header class="scoreBoardHeader">
        <h1 class="scoreBoardTitle">Scoreboard</h1>
    </header>*@

    <section class="scoreBoardSection">

        <table class="scoreBoardTable" cellpadding="1">
            <tr class="scoreBoardTableHeadings">
                <th><div class="scoreBoardDigits" style="text-align:center">Rank</div></th>
                <th><div class="scoreBoardDigits">Player Name</div></th>
                <th><div class="scoreBoardDigits" style="text-align:center">Score</div></th>
            </tr>
            @foreach (var item in Model.Scoreboard)
            {
                string rowName = "row" + item.ID.ToString();
                <tr class="scoreBoardRow" id="@rowName">
                    <td>
                        <div class="scoreBoardDigits" style="text-align:right">
                            @Html.DisplayFor(modelItem => item.ID)
                        </div>
                    </td>
                    <td>
                        <div class="scoreBoardDigits">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </td>
                    <td>
                        <div class="scoreBoardDigits" style="text-align:center">
                            @Model.PadNumber((int)item.Score, 6)
                        </div>
                    </td>
                </tr>
            }
        </table>
    </section>
</div>

