@page
@model TreasureHuntWebApp.Pages.ItsADungeonCrawl.IndexModel
@{
    ViewData["Title"] = "It's A Dungeon Crawl!";
}

<div style="margin:auto; text-align: center">
    <h2>Welcome weary hunters!</h2>
    <img class="bit8Image" style="width: 20%" src="~/DungeonGraphics/LeeMonquebe-8bit.png" />
    <p>My name is Lee Monquebe. Creator and founder of LemonCube laboratories.</p>
    <p>After your latest hunting I have decided to just award you with some points as a token of my appreciation.</p>
    <p>Follow me to the lab and we'll see what points we can find for you...</p>
    <form method="post">
        <input type="submit" name="button" value="Go To Lab" />
    </form>
</div>

