@page
@model TreasureHuntWebApp.Pages.ItsADungeonCrawl.TheHandoverModel
@{
    ViewData["Title"] = "TheHandover";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".tool").click(function () {
            var commandName = $(this).attr("value");
            var hiddenInput = $("input[name=tool]");
            hiddenInput.val(commandName);
            var portalNum = $("input[name=portalNum]");
            var portNum = $("input[name=portNum]");
            portNum.val(portalNum.val());
        });
    });
</script>

@{
    int klorg1 = String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg1")) ? 0 : 1;
    int klorg2 = String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg2")) ? 0 : 1;
    int klorg3 = String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg3")) ? 0 : 1;
}

@{
    if (klorg1 + klorg2 + klorg3 <= 0)
    {
        HttpContextAccessor.HttpContext.Session.Remove("Compass");
        HttpContextAccessor.HttpContext.Session.Remove("Guidebook");
    }
}

@{
    if (Model.portalNum == 1)
    {
        <div style="text-align: center; margin: auto;">
            <input type="hidden" name="portalNum" value="1" />
            <img class="bit8Image" style="width: 20%; padding: 5pt;" src="~/DungeonGraphics/portal-hand.png" />
        </div>
    }
    else if (Model.portalNum == 2)
    {
        <div style="text-align: center; margin: auto;">
            <input type="hidden" name="portalNum" value="2" />
            <img class="bit8Image" style="width: 20%; padding: 5pt;" src="~/DungeonGraphics/portal2-hand.png" />
        </div>
    }
    else if (Model.portalNum == 3)
    {
        <div style="text-align: center; margin: auto;">
            <input type="hidden" name="portalNum" value="3" />
            <img class="bit8Image" style="width: 20%; padding: 5pt;" src="~/DungeonGraphics/portal3-hand.png" />
        </div>
    }
}

@{
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass"))
        && !String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Guidebook")))
    {
        <div style="text-align: center; margin: auto;">
            <p>Sorry, I have no more tools to give you this time.</p>
        </div>
    }
    else if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass"))
        || !String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Guidebook")))
    {
        <div style="text-align: center; margin: auto;">
            <p>Don't forget this other tool to help you on your search!</p>
        </div>
    }
    else
    {
        <div style="text-align: center; margin: auto;">
            <p>Hey! Don't touch that! Oh no, quick, before you are transported grab one of these. They ...ill hel...yu....</p>
        </div>
    }
}


<table style="width: 100%;">
    <tr style="max-width: 500px;">
        @{
            if (String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
            {
                <td style="text-align: center;">
                    <form method="post">
                        <input type="hidden" name="portNum" value="0" />
                        <input type="hidden" name="tool" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/compass.png" alt="Submit" class="tool portalImage bit8Image" value="Compass">
                    </form>
                </td>
            }
            if (String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Guidebook")))
            {
                <td style="text-align: center;">
                    <form method="post">
                        <input type="hidden" name="portNum" value="0" />
                        <input type="hidden" name="tool" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/guidebook.jpg" alt="Submit" class="tool portalImage bit8Image" value="Guidebook">
                    </form>
                </td>
            }
        }
    </tr>
</table>

