@page
@model TreasureHuntWebApp.Pages.ItsADungeonCrawl.TheIMPortalModel
@{
    ViewData["Title"] = "The IM-Portals";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".portalImage").click(function () {
            var commandName = $(this).attr("value");
            var hiddenInput = $("input[name=portal]");
            hiddenInput.val(commandName);
        });
    });
</script>

<div style="margin:auto; text-align: center">
    <p class="importalSign">IM-Portals</p>

    <p class="importalSign importalSign2">DO NOT TOUCH</p>
    <br />
    <p>You walk over to 3 eery, shimmering, plasmoid discs suspended in mid air.</p>
    <p>A large sign above them indicates that touching them would be a bad idea...</p>

    <table style="width: 100%;">
        <tr style="max-width: 500px;">
            <td>
                @{
                    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg1")))
                    {
                        <img class="bit8Image" src="~/DungeonGraphics/redLight.png" />
                        <form method="post">
                            <input type="hidden" name="portal" alt="Submit" value="blank" />
                            <input type="image" src="~/DungeonGraphics/portal-8bit.png" alt="Submit" class="portalImage" value="importal1">
                        </form>
                    }
                    else
                    {
                        <img class="bit8Image" src="~/DungeonGraphics/greenLight.png" />
                        <br />
                        <img class="portalImage" src="~/DungeonGraphics/portal-8bit.png" />
                    }
                }
            </td>
            <td>
                @{
                    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg2")))
                    {
                        <img class="bit8Image" src="~/DungeonGraphics/redLight.png" />
                        <form method="post">
                            <input type="image" src="~/DungeonGraphics/portal2-8bit.png" alt="Submit" class="portalImage" value="importal2">
                            <input type="hidden" name="portal" />
                        </form>
                    }
                    else
                    {
                        <img class="bit8Image" src="~/DungeonGraphics/greenLight.png" />
                        <br />
                        <img class="portalImage" src="~/DungeonGraphics/portal2-8bit.png" />
                    }
                }
            </td>
            <td>
                @{
                    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg3")))
                    {
                        <img class="bit8Image" src="~/DungeonGraphics/redLight.png" />
                        <form method="post">
                            <input type="image" src="~/DungeonGraphics/portal3-8bit.png" alt="Submit" class="portalImage" value="importal3">
                            <input type="hidden" name="portal" />
                        </form>
                    }
                    else
                    {
                        <img class="bit8Image" src="~/DungeonGraphics/greenLight.png" />
                        <br />
                        <img class="portalImage" src="~/DungeonGraphics/portal3-8bit.png" />
                    }
                }
            </td>
        </tr>
    </table>
</div>

