@page
@model TreasureHuntWebApp.Pages.ItsADungeonCrawl.TheLaboratoryModel
@{
    ViewData["Title"] = "The Laboratory";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    int klorg1 = String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg1")) ? 0 : 1;
    int klorg2 = String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg2")) ? 0 : 1;
    int klorg3 = String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Klorg3")) ? 0 : 1;
}

@{
    if (klorg1 + klorg2 + klorg3 <= 0)
    {
        <div style="margin:auto; text-align: center; width: 80%;">
            <h2>Oh no!</h2>
            <img class="bit8Image" style="max-width: 100px; width: 40%" src="~/DungeonGraphics/LeeMonquebe-8bit-lab.png" />
            <p>The fiendish Klorg Pups have broken out of their cages.</p>
            <p>I was researching their unique hunting abilities.</p>
            <p>By the looks of things they escaped through my IM-Portals. </p>
            <p>I'll deal with that later. Let me grab the points for you from the safe.</p>
            <form method="post">
                <input type="submit" name="button" value="Go to the IM-Portals" />
            </form>
        </div>
    }
    else if (klorg1 + klorg2 + klorg3 == 1)
    {
        <div style="margin:auto; text-align: center; width: 80%;">
            <h2>Thank you so much!</h2>
            <img class="bit8Image" style="max-width: 100px; width: 40%" src="~/DungeonGraphics/LeeMonquebe-8bit.png" />
            <p>You managed to find your way back and you brought our young friend Rango back too.</p>
            <p>Seeing as you handled yourself well in there I couldn't ask you to go through the other portals too and help bring back Limo and Grappy?</p>
            <p>And if you haven't already got them here are the maps for the final 2 portals.</p>
            @{HttpContextAccessor.HttpContext.Session.SetString("Map","Yes");}
            <form method="post">
                <input type="submit" name="button" value="Go to the IM-Portals" />
            </form>
        </div>
    }
    else if (klorg1 + klorg2 + klorg3 == 2)
    {
        <div style="margin:auto; text-align: center; width: 80%;">
            <h2>Excellent!</h2>
            <img class="bit8Image" style="max-width: 100px; width: 40%" src="~/DungeonGraphics/LeeMonquebe-8bit.png" />
            <p>That's 2 pups back in their cages. Only Limo missing now. Are you able to go get her too?</p>
            <form method="post">
                <input type="submit" name="button" value="Go to the IM-Portals" />
            </form>
        </div>
    }
    else if (klorg1 + klorg2 + klorg3 >= 3)
    {
        if (Model.Winner != null && Model.Winner.Count >= 1)
        {
            <h2 align="center">Congratulations @Html.DisplayFor(modelItem => Model.Winner[0].Name)</h2>

            <p align="center">
                Your points have been added to the scoreboard.
            </p>
            <div style="height:5pt"></div>
            <form action="/Index">
                <input type="submit" value="Go Home" class="form-control askInput" />
            </form>
        }
        else
        {
            <div style="margin:auto; text-align: center; width: 80%;">
                <h2>That's it!</h2>
                <img class="bit8Image" style="max-width: 100px; width: 40%" src="~/DungeonGraphics/LeeMonquebe-8bit.png" />
                <p>All the Klorg pups are home and no one got harmed. I hope the adventures weren't too difficult.</p>
                <p>Now as promised I'll get you some points. Forgive me, but what was your name:</p>
                <form method="post">
                    <input type="text" class="form-control askInput" name="winnerName" placeholder="Name..." maxlength="30">
                    <div style="height:5pt"></div>
                    <input type="submit" name="button" value="Enter" />
                </form>
            </div>
        }
    }
}

