@page
@model TreasureHuntWebApp.Pages.ItsADungeonCrawl.TheLaboratoryModel
@{
    ViewData["Title"] = "The Laboratory";
}

<div style="margin:auto; text-align: center">
    <h2>Oh no!</h2>
    <input type="image" src="~/DungeonGraphics/LeeMonquebe-8bit-lab.png" alt="Submit" width="100">
    <p>The fiendish Klorg Pups have broken out of their cages.</p>
    <p>I was researching their unique hunting abilities.</p>
    <p>By the looks of things they escaped through my IM-Portals. </p>
    <p>I'll deal with that later. Let me grab the points for you from the safe.</p>
    <form method="post">
        <input type="submit" name="button" value="Move To The IM-Portal" />
    </form>
</div>

