@page
@model TreasureHuntWebApp.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "Happy Hunting!";
}

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.questionInput').focus(function () { $(this).val(''); showButton(); });
        $("input").bind("input", function () {
            var $this = $(this);
            setTimeout(function () {
                if ($this.val().length >= parseInt($this.attr("maxlength"), 10))
                    $this.next("input").focus();
            }, 0);
        });
    });
    function OnSubmitForm() {
        document.emailForm.action = getEmail();
    }
    function getEmail() {
        return "mailto:" + document.getElementById("email1").value
            + document.getElementById("email2").value
            + document.getElementById("email3").value
            + document.getElementById("email4").value
            + document.getElementById("email5").value
            + document.getElementById("email6").value
            + document.getElementById("email7").value
            + document.getElementById("email8").value 
            + "@@hotmail.com"
    }
    function showButton() {
        if (document.getElementById("email1").value
            && document.getElementById("email2").value
            && document.getElementById("email3").value
            && document.getElementById("email4").value
            && document.getElementById("email5").value
            && document.getElementById("email6").value
            && document.getElementById("email7").value
            && document.getElementById("email8").value) {
            document.getElementById("emailButton").style.visibility = "visible";
            document.getElementById("emailForm").style.height = "";
        }
        else {
            document.getElementById("emailButton").style.visibility = "collapse";
            document.getElementById("emailForm").style.height = "0pt";
        }


    }
</script>

<div>
    <div>
        <div style="background: #51b6ff;">
            <div style="text-align: center; vertical-align: middle">
                <div class="TreasureHuntTitle" style="text-align: center; width: 95%; margin: auto; vertical-align: bottom;">
                    <font color="white">Treasure Hunt 1</font>
                </div>
                <div class="clueTitle" style="text-align: center; width: 95%; margin: auto; vertical-align: middle;">
                    <font color="red">
                        <input class="questionInput" type="text" maxlength="1" id="email1" oninput="showButton()" />
                        <input class="questionInput" type="text" maxlength="1" id="email2" oninput="showButton()" />
                        <input class="questionInput" type="text" maxlength="1" id="email3" oninput="showButton()" />
                        <input class="questionInput" type="text" maxlength="1" id="email4" oninput="showButton()" />
                        <input class="questionInput" type="text" maxlength="1" id="email5" oninput="showButton()" />
                        <input class="questionInput" type="text" maxlength="1" id="email6" oninput="showButton()" />
                        <input class="questionInput" type="text" maxlength="1" id="email7" oninput="showButton()" />
                        <input class="questionInput" type="text" maxlength="1" id="email8" oninput="showButton()" />
                    </font><font color="white">@@ hotmail.com</font>
                </div>
                <div style="padding-bottom: 10pt; height:0pt" id="emailForm">
                    <form name="emailForm" onsubmit="OnSubmitForm()">
                        <input type="submit" value="Send Email" class="btn btn-default" style="visibility:collapse" id="emailButton"/>
                    </form>
                </div>
            </div>
        </div>
        @foreach (var item in Model.Question)
        {
            <div style="background: #51b6ff;">
                <div style="width: 80%; background-color: white; margin: auto; height: 1pt">
                </div>
                <div style="text-align: center; vertical-align: middle">
                    <div class="question" style="text-align: center; width: 80%; margin: auto; vertical-align: middle;">
                        @*<font color="white">@Html.DisplayFor(modelItem => item.Content)</font>*@
                        <font color="white">
                            @{int count = 0; bool activated = false;}
                            @for (var i = 0; i < item.Content.Length; i++)
                            {
                                var character = item.Content[i];
                                if (character.Equals(' '))
                                {
                                    count++;
                                }

                                if (count == item.ClueIndex - 1)
                                {
                                    activated = true;
                                }
                                else
                                {
                                    activated = false;
                                }

                                if (activated)
                                {
                                    <text><i><b>@character.ToString()</b></i></text>
                                }
                                else
                                {
                                    <text>@character.ToString()</text>
                                }
                            }
                        </font>
                    </div>
                    <div class="answer" style="text-align: center; width: 80%; margin: auto; vertical-align: middle;">
                        @{count = 0;}
                        @for (var i = 0; i < item.Answer.Length; i++)
                        {
                            var character = item.Answer[i];
                            if (character.Equals('_'))
                            {
                                count++;
                                if (count == item.AnswerIndex)
                                {
                                    <text><input class="questionInput" type="text" maxlength="1" /></text>
                                }
                                else
                                {
                                    <text><input class="questionInput" type="text" maxlength="1" style="border-color: white; color: white" /></text>
                                }
                            }
                            else if (character.Equals('.') || character.Equals('/'))
                            {
                                <text><span style="color:white">@character.ToString()</span></text>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
